/* ******** */
/* Position */
/* ******** */

body {
  margin: 0;
  background-color: #ace6bb;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 400px;
  height: 400px;
}

/* ****** */
/* Design */
/* ****** */

.icon-text {
  fill: #597d62;
  transition-duration: 0.8s;
}

.icon-eyes {
  fill: #ee82ee;
  transition-duration: 0.8s;
}

.icon-head {
  fill: #597d62;
  transition-duration: 0.8s;
}

/* ***** */
/* Hover */
/* ***** */

.icon:hover > .icon-eyes {
  fill: #f5454a;
  filter: blur(0.5px);
} 

.icon:hover > .icon-text {
  fill: #f5454a;
} 

.icon:hover > .icon-head {
  filter: drop-shadow(1px 4px 4px #2e2c2c);
}